@{
    ViewData["Title"] = "Home Page";
}

<form id="HomeForm">
    <div class="jumbotron">
        <h1>Contoso University</h1>
    </div>
    <div class="row">

        <div class="col-md-4">
            <h2>RMB</h2>
            <p><input type="text" value="" name="AmountRMB" id="AmountRMB" data-val="true" class="form-control"></p>
        </div>
        <div class="col-md-2">
            <h2><a asp-controller="Home" asp-action="Exchange"><i class="icon-exchange icon-large"></i> </a></h2>
        </div>
        <div class="col-md-4">
            <h2>USD</h2>
            <p><span name="AmountUSD" id="AmountUSD" >@ViewBag.AmountUSD</span></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="CNKey" class="col-md-2 control-label">中国站Key</label>
            <div class="col-md-10">
                <input type="text" value="" name="CNKey" id="CNKey" data-val-required="中国站Key 字段是必需的。" data-val="true" class="form-control">
                <span data-valmsg-replace="true" data-valmsg-for="CNKey" class="text-danger field-validation-valid"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="CNSecret" class="col-md-2 control-label">中国站Secret</label>
            <div class="col-md-10">
                <input type="text" value="" name="CNSecret" id="CNSecret" data-val-required="中国站 Secret 字段是必需的。" data-val="true" class="form-control">
                <span data-valmsg-replace="true" data-valmsg-for="CNSecret" class="text-danger field-validation-valid"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="InterKey" class="col-md-2 control-label">国际站Key</label>
            <div class="col-md-10">
                <input type="text" value="" name="InterKey" id="InterKey" data-val-required="国际站Key 字段是必需的。" data-val="true" class="form-control">
                <span data-valmsg-replace="true" data-valmsg-for="InterKey" class="text-danger field-validation-valid"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="InterSecret" class="col-md-2 control-label">国际站Secret</label>
            <div class="col-md-10">
                <input type="text" value="" name="InterSecret" id="InterSecret" data-val-required="国际站Secret 字段是必需的。" data-val="true" class="form-control">
                <span data-valmsg-replace="true" data-valmsg-for="InterSecret" class="text-danger field-validation-valid"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <a asp-controller="Home" name="btnWithdraw" id="btnWithdraw" asp-action="Withdraw" class="btn-default" ><i class="icon-money icon-large"></i>提现</a>
            </div>
        </div>
    </div>
</form>